<% content_for :title, "Bonzer x Lucy" %>

<div class="row-center">
	<h4>DC Surrey Hill's Galafrey LCM, OTRM, CR, ARX, DPCX x Multi BIF WildAbout Lucky Lucille SC, LCM, CR</h4>
</div>
<div class="row-center">
	<h4>Born July 2nd, 2011</h4>
</div>

<div class="row-center">
	<%= image_tag("bonzer*1.jpg") %>
	<%= image_tag("lucy*1.jpg") %>
</div>

<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/testmating.php?dam=39639&sire=20276"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>

<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Learn more about the Bonzer x Lucy Litter:</h3>
<P>
				This litter was whelped and raised by Charlene Byrum of Do It Whippets but there is no doubt that I am it's biggest cheerleader! I was so excited about the potential of this litter and have certainly not been disappointed. These pups have taken over the lure coursing fields and have not looked back.... and to think their careers have just begun! 
				</P>
				<P>Click on the links below to find out more about the Bonzer x Lucy pups:</P>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "FC Do It Just a High Stakes Roller FCh, SC, CR", page_path("dogs/caesar")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/caesar1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "FC Do It Just a Fasion Trend", page_path("dogs/prada")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/prada1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "Do It Just a Theory FCh", page_path("dogs/raj")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/raj1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "Do It Just Right FCh", page_path("dogs/lexi")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/lexi1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "Do It Guided By Regulus", page_path("dogs/reggie")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/reggie1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "Do It Just a Summer Snow Angel", page_path("dogs/steam")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/steam1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "Do It Unbridled Spirit", page_path("dogs/spirit")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/spirit1stack.jpg") %>
	</div>
</div>

