<% content_for :title, "Gateway x Vegas 2007" %>

<div class="row-center">
	<h4>Windwalker Chicaro Impala WRCh x AmCh Do It Wild And Get Lucky FCh, SC, CRX, OTRM, SR</h4>
</div>
<div class="row-center">
	<h5>Born December 10th, 2005</h5>
</div>

<div class="row-center">
	<%= image_tag("vegas1.jpg") %>
	<%= image_tag("gateway1.jpg") %>
</div>

<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/testmating.php?dam=23479&sire=23474"><h3>Pedgree</h3></A>
	</div>
</div>

<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h4>Learn more about the Gateway x Vegas Litter:</h4>
<P>
				Once again we are anticipating an athletic litter of pups drenched in good looks!  We have absolutely fallen in love with the Zeke x Vegas litter and decided to follow in their footsteps.  Gateway (littermate to Zeke) easily picked up his WRCh & a few show points, however due to an unfortunate accident open field coursing, Gateway is retired from most sporting events.  Naturally we are expecting another versatile litter that can race, lure course and show with success!  Please keep checking back with us on updated accomplishments and new photos as they grow. There is no surprise why this litter was named the Mini Moos.  Don't forget to check out the special story of the Moos-n-Mews at the bottom of this page.
				</P>
				<P>Click on the links below to find out more about this wonderful breeding:</P>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "BIF FC WildAbout Lucky Lucille LCM, SC, CRX, OTR", page_path("dogs/lucy")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/lucy1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "WildAbout Windwalker on Speed CR, RPT, TF-I, FDCh-G", page_path("dogs/vitesse")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/vitesse1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "WildAbout Windwalkers Lucky Impala FCh, CRX, OTRM, Disc Dog Pro", page_path("dogs/moo")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/moo1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "WildAbout Dreamwindz", page_path("dogs/tuli")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/tuli1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "Implalas WildAbout Shopping in Soho", page_path("dogs/soho")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/soho1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "WildAbout It's What's for Dinner", page_path("dogs/beefie")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/beefie1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "WildAbout Hey There Delilah", page_path("dogs/lyla")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/lyla1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "WildAbout Stella Artois", page_path("dogs/stella")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippet/stella1stack.jpg") %>
	</div>
</div>

