<% content_for :title, "Nico x Haley 2010" %>

<div class="row-center">
	<h4>Multiple WRA & NOTRA meet winning WildBlue's Turn Me Loose WRChXII, SORC x Multiple NOTRA meet winning WildAbout Windwalker Stargazer WRCh</h4>
</div>
<div class="row-center">
	<h4>Born September 9th, 2010</h4>
</div>

<div class="row-center">
	<%= image_tag("nico1.jpg") %>
	<%= image_tag("hayley3.jpg") %>
</div>

<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/testmating.php?dam=33222&sire=43341"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>

<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Learn more about the Nico x Hayley:</h3>
<P>
				There is no doubt we have always admired Nico. A moderate whippet that excelled on the track beyond what anyone could imagine. Not only was Nico a star in his prime but he continues to excel as a veteran. An amazing whippet with an even more amazing temperament. 
				</P>
				<p>
				This is Hayley's only litter and what a liter it has been! We feel like we have only just begun... looking forward to the future of the Nico x Hayley kids. 
				</P>
				<P>Click on the links below to find out more about this amazing match:</P>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "Multiple NOTRA meet winning WildAbout's La Flama Blanca ORC", page_path("dogs/kenny")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/kenny1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "WildAbout's Flipin' A Coin WRCh, ORC", page_path("dogs/capone")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/capone1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "Multiple NOTRA & NAWRA meet winning WildAbout's Locked and Loaded ORC, RCh", page_path("dogs/pistol")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/pistol1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "WildAbout's Classic Black", page_path("dogs/lotus")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/lotus1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "WildAbout's Point Blank ORC", page_path("dogs/bullet")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/bullet1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "WildAbout's Swish On By", page_path("dogs/swish")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/swish1stack.jpg") %>
	</div>
</div>

