<% content_for :title, "Panther and Zinfandel 2013" %>

<div class="row-center">
	<h4>Notorious Poeta Pantera WRChX, SORC-II, CD, RE, MX, MXJ, ADC, AgI, AgIJ, RPT, AV x WildAbout Spirit of Windwalker CRXIV, OTRM, SR</h4>
</div>
<div class="row-center">
	<h4>Born December 10th, 2005</h4>
</div>

<div class="row-center">
	<%= image_tag("whippets/panther*1.jpg") %>
	<%= image_tag("whippets/zinfy*1.jpg") %>
</div>

<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/testmating.php?dam=33221&sire=6278"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>

<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Learn more about the Panther x Zinfy litter:</h3>
<P>
				Choosing a sire for Zinfy's second litter was certainly not easy. We knew the direction that we wanted to go but not everything is meant to be... until Panther said "What about me?" Love at first sight! Panther's talents go above and beyond, including 31 NOTRA meet wins and 11 WRA meet wins. Panther is a two time NOTRA National meet winner too! Oh, let's not forget his multi agility titles. Combine all those talents with Zinfy's drive and we might just have some really talented pups!
				</P>
				<p>
				This litter became affectionatley known as the "Pancakes"... couldn't resist! 
				
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "WildAbout Wine and Pancakes", page_path("dogs/dollar")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/dollar1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "WildAbout Big Things in Small Packages", page_path("dogs/shortie")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/shortie1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "WildAbout Grab Them Cakes", page_path("dogs/dessa")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/dessa1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "WildAbout Off the Grid", page_path("dogs/grid")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/grid1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "WildAbout", page_path("dogs/indy")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/indy1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "WildAbout Flapjack Combo", page_path("dogs/bo")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/bo1stack.jpg") %>
	</div>
</div>

