<% content_for :title, "Parker x Zinfandel 2010" %>

<div class="row-center">
	<h4>Ringdove Parker-Eaton RCh, ORC, WRCh x WildAbout Spirit of Windwalker CRXiX, OTRM, SR</h4>
</div>
<div class="row-center">
	<h4>Born November 14th, 2010</h4>
</div>

<div class="row-center">
	<%= image_tag("parker1.jpg") %>
	<%= image_tag("zinfy2.jpg") %>
</div>

<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/testmating.php?dam=33221&sire=48808"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>

<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Learn more about the Parker x Zinfy Litter:</h3>
<P>
				We spent four years looking at potential sires for Zinfy's first litter and we kept coming back to the same pedigree. It was inevitable that we would double up Eddy and breed to a wonderful Zeeno son. Parker caught our attention from the beginning and we knew it was meant to be. Parker visited WildAbout for just over a week and we fell in love with his old soul. We feel very blessed to have pups from him. 
				</P>
				<P>Click on the links below to find out more about the Parker x Zinfy pups:</P>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h3><%= link_to "WildAbout Double Dog Dare WRCh", page_path("dogs/nova")  %></h3>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/novastack1.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h3><%= link_to "WildAbout The Zen of Zin FCh", page_path("dogs/fig")  %></h3>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/fig1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h3><%= link_to "WildAbout Spencer-Eaton RCh", page_path("dogs/spencer")  %></h3>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/spencer1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h3><%= link_to "WildAbout Smoking Loon", page_path("dogs/hoax")  %></h3>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/hoax1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h3><%= link_to "WildAbout Black Goose CR", page_path("dogs/ninja")  %></h3>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/ninja1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h3><%= link_to "WildAbout Dashe Louvau", page_path("dogs/dasha")  %></h3>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/dasha1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h3><%= link_to "WildAbout Blanc de Noirs", page_path("dogs/zoey")  %></h3>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/zoey1stack.jpg") %>
	</div>
</div>

