<% content_for :title, "Reach x Vi 2011" %>

<div class="row-center">
	<h4>Poeta Rail Rhythm x WildAbout Windwalker On Speed CR, RPT, TF-I, FDCh-G</h4>
</div>
<div class="row-center">
	<h4>Born August 1st, 2011</h4>
</div>

<div class="row-center">
	<%= image_tag("reach*1.jpg") %>
	<%= image_tag("vitesse*1.jpg") %>
</div>

<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/testmating.php?dam=20651&sire=73112"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>

<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Learn more about the Reach x Vi Litter:</h3>
<P>
				This litter was whelped by M-H Lacasse in Ottowa, Canada. Reach and Vi have excelled in flyball and we have high hopes for this multi-talented litter!
				</P>
				<P>Click on the links below to find out more about the Reach x Vi pups:</P>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "Leading Edge Speed Overdose", page_path("dogs/toomuch")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/toomuch1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "Leading Edge Full Throttle", page_path("dogs/drive")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/drive1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "Leading Edge It's all the Rage", page_path("dogs/craze")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/craze1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "Leading Edge Just Kidding", page_path("dogs/prank")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/prank1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "Leading Edge Masquarade Marsei", page_path("dogs/marsei")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/marsei1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "Leading Edge No Speed Limit", page_path("dogs/ticket")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/ticket1stack.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h4><%= link_to "Leading Edge Quantum Leap", page_path("dogs/ohboy")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/ohboy1stack.jpg") %>
	</div>
</div>
<div class="row-center">
	<div class="span11">
		<h4><%= link_to "Leading Edge Hype It Up", page_path("dogs/hype")  %></h4>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/hype1stack.jpg") %>
	</div>
</div>

