<% content_for :title, "Syd and Tiger LIly 2004" %>

<div class="row-center">
	<h2>Windwalker Zantanon WRCh, RCh, ORC x AmCh Do It Wild And Get Lucky FCh, SC, CRX, OTRM, SR</h2>
</div>
<div class="row-center">
	<h4>Born December 10th, 2005</h4>
</div>

<div class="row-center">
	<%= image_tag("vegas1.jpg") %>
	<%= image_tag("Zeke1.jpg") %>
</div>

<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=33229"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>

<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Learn more about the Zeke x Vegas Litter:</h3>
<P>
				Once again we are anticipating an athletic litter of pups drenched in good looks!  We fell in love with Zeke a year ago at a race meet.  His incredible body, charming personality and speed combined with Vegas' beauty & drive will hopefully be a winning combination! There's no doubt you'll see many of these pups on the straight track, oval track, coursing field and in the ring! 
				</P>
				<p>
				On December 24th, 2005, Zeke lost his life.  Zeke was admired by so many as he was the finest example of a whippet.  Not a day goes by that he isn't missed.  This is Zeke's only litter and we are forever grateful that we have his offspring to carry on his legacy and spirit.  
				</P>
				<P>Click on the links below to find out more about this wonderful breeding:</P>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h3><%= link_to "WildAbout Spirit of Windwalker CRXII, OTRM, SR", page_path("dogs/zinfandel")  %></h3>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/zinfy2.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h3><%= link_to "WildAbout Windwalker Evolutions FCh, CR, OTR", page_path("dogs/zazu")  %></h3>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/zazu1.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h3><%= link_to "WildAbout Windwalker Amaze CR, OTR", page_path("dogs/ezrin")  %></h3>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/ezrin1.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h3><%= link_to "BIF WildAbout Windwalker Bravizzimo WRCh, ORC", page_path("dogs/bravo")  %></h3>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/bravo1.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h3><%= link_to "Multiple NOTRA Meet Winning WildAbout Windwalker Stargaze WRCh, OTRM", page_path("dogs/hayley")  %></h3>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/hayley3.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h3><%= link_to "WildAbout Windwalker Zest FCh, CR, OTR", page_path("dogs/zest")  %></h3>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/zest1.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h3><%= link_to "Multiple NOTRA Meet Winning WildAbout Windwalker WRCh, ORC", page_path("dogs/zandy")  %></h3>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/zandy1.jpg") %>
	</div>
</div>

<div class="row-center">
	<div class="span11">
		<h3><%= link_to "WildAbout Windwalker Zircon WRCh, ORC", page_path("dogs/zircon")  %></h3>
	</div>
	<div class="span11">
		
	<%= image_tag("Whippets/zirc1.jpg") %>
	</div>
</div>

