<% content_for :title, "Bullet" %>

<div class="row-center">
	<h2>WildAbout's Point Blank ORC</h2>
</div>
<div class="row-center">
	<h4>(WildBlues Turn Me Loose WRChX, SORC x WildAbout Windwalker Stargazer WRCh, OTRMIII)</I><BR>Born September 9th, 2010</h4>
</div>
<div class="row-center">
	<P>Height: 22 1/2" Weight: 39lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/bullet*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=101515"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Bullet:</h3>
		<p>Bullet joined Sandi Kemerly and her sighthound crew in Middletown, Indiana.  Bullet was definitely the sweetheart of the litter and continues to steal the hearts of many.  Bullet picked up his first WRA, NAWRA NOTRA points in 2012 and took top ten placements in the NAWRA and NOTRA 2012 National. We have high hopes for this boy in 2013! And he didn't disappoint... Bullet finished his ORC in style by picking up 5 ORC points at his first oval meet of the year!</p>
		<br/>
<br/>
	</div>
</div>

<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/bullet1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/bullet2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/bullet3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/bullet4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/bullet5.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/bullet6.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
