<% content_for :title, "Dasha" %>

<div class="row-center">
	<h2>WildAbout Dashe Louvau</h2>
</div>
<div class="row-center">
	<h4>(Ringdove Parker Eaton RCh, ORC, WRCh x WildAbout Spirit of Windwalker CRXIV, OTRMIII, SR)</h4>
</div>
<div class="row-center">
	<P>Height: 20 1/2" Weight: 30lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/dasha*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=98131"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Dasha</h3>
		<p>Dasha joined Daniel and Elena Gilbert in Garrison, New York.  There is absolutely no doubt that Dasha is living the high life!  Not only does Dasha have miles and miles of acreage outside her door, but she will also get the chance to race on the east coast.  She's definitely one lucky gal!</p>
		<br/>
<br/>
	</div>
</div>

<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/dasha1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/dasha2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/dasha3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/dasha4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/dasha5.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
