<% content_for :title, "Dessa" %>

<div class="row-center">
	<h2>WildAbout Grab Them Cakes</h2>
</div>
<div class="row-center">
	<h4>(Notorious Poeta Pantera WRChX, SORC-II, CD, RE, MX, MXJ, ADC, AgI, AgIJ, RPT, AV x WildAbout Spirit of Windwalker CRXIV, OTRM, SR)</I><BR>Born May 14th, 2013</h4>
</div>
<div class="row-center">
	<P>Height:  Weight: </P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/dessa*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=191990"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Dessa:</h3>
		<p>Dessa resides in Jacksonville, Florida with Wendy & Mark Montroy. She is very lucky to share her home with a little boy that adores her, an older whippet that tolerates her and a ocicat that thinks she's the best!</p>
		<br/>
<br/>
	</div>
</div>

<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/dessa1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/dessa2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/dessa3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/dessa4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/dessa5.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/dessar6.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
