<% content_for :title, "Ezrin" %>

<div class="row-center">
	<h2>WildAbout Windwalker Amaze CR, OTRM</h2>
</div>
<div class="row-center">
	<h4>(Windwalker Zantanon WRCh, ORC, RCh x Am Ch Do It Wild And Get Lucky FCh, CRX, OTRM, SR)</I><BR>Born December 10th, 2005</h4>
</div>
<div class="row-center">
	<P>Height: 21 3/4", 38lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/ezrin*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=32450"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Ezrin</h3>
		<p>Ezrin lives with Lisa and Greg Goucher in Lancing, Michigan along with a slew of hounds and cats!  While Ez spends most of his days lounging on the couch (now retired), he had his fair share of fun in his prime. Ez took a bit of time to mature on the track but did manage to pick up four ORC points as an FTE. However, his favorite activity remains hunting jack rabbits in Wyoming.  Maybe another trip out west is in his future? Ezrin is certainly the "looker" from this litter.  He often battles his brother Zandy in just who is most handsome! Ezrin's claim to fame is his Best In Match win at the 2009 WRA/NOTRA Nationals. Thank you Merril for recognizing such an awesome dog!</p>
		<br/>
<br/>
	<p>Ezrin will sire his first litter in 2014. We can't wait to see what these two athletic beauties will produce!</p>

		<A href = "http://thewhippetarchives.net/testmating.php?dam=13903&sire=32450"><h3>Ezrin x Mariah</h3></A>

		<div class="span11">
		<br/>
<br/>	
	</div>
</div>
	</div>
</div>
<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/ezrin1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/ezrin2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/ezrin3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/ezrin4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/ezrin5.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/ezrin6.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/ezrin7.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
