<% content_for :title, "Fig" %>

<div class="row-center">
	<h2>WildAbout The Zen of Zin FCh</h2>
</div>
<div class="row-center">
	<h4>(Ringdove Parker Eaton RCh, ORC, WRCh x WildAbout Spirit of Windwalker CRXIV, OTRMIII, SR)</I><BR>Born November 14th, 2010</h4>
</div>
<div class="row-center">
	<P>Height: 20" Weight: 29.5lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/fig*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=98130"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Fig</h3>
		<p>Well, we couldn't resist that face.... needless to say, Fig's staying right here at WildAbout Whippets! She definitely has a personality to match that face.  She thinks she's bigger than life but is also awfully sweet.  Fig surprised us all by taking top set of points both days at her FTE debut weekend in WRA!  But don't rule out lure coursing for this gal, she finished her ASFA FCh in just three trials taking first in her flight at the AKC National and winning the Open Stake at the Region 6 Invitational. We can't wait to see what 2013 has in store for Fig!</p>
		<br/>
<br/>
	</div>
</div>

<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/fig1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/fig2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/fig3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/fig4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/fig5.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/fig6.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/fig7.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
