<% content_for :title, "Genie" %>

<div class="row-center">
	<h2>Fortune Time in a Bottle</h2>
</div>
<div class="row-center">
	<h4>(Plumcreek Night Eclipse x Ch Whippletrees Walking on Air)</h4>
</div>
<div class="row-center">
	<P>Height: 20.5" Weight: 29lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/genie*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=32470"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Genie</h3>
		<p>Genie was a true godsend to us at the age of three.  She immediately took to mothering our special needs whippet, Scotch.  Genie also blessed us with two wonderful litters and we couldn't have asked for a better companion.  We lost Genie in 2010 but she will always remain in our hearts. </p>
		<br/>
<br/>
	</div>
</div>

<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/hoax1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/hoax2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/hoax3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/hoax4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/hoax5.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/hoax6.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/hoax7.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
