<% content_for :title, "Hayley" %>
<div class="row-center">
	Multiple NOTRA meet winning
</div>
<div class="row-center">
	<h2>WildAbout Windwalker Stargazer WRCh, FCH, OTRMIV, SR</h2>
</div>
<div class="row-center">
	<h4>(Windwalker Zantanon WRCh, ORC, RCh x Am Ch Do It Wild And Get Lucky FCh, CRX, OTRM, SR)</I><BR>Born December 10th, 2005</h4>
</div>
<div class="row-center">
	<P>Height: 20 1/4" Weight: 32lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/hayley*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=33222"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Hayley</h3>
		<p>Hayley resides in Muncie, Indiana with Trent and Kim Rees (the other half of WildAbout Whippets!).  She is the definition of speed and beauty.  A personality just like her Mama Vegas makes Hayley one tough tough gal.  She finished her WRCh in style at the 2009 AWC Nationals and soon after became a multiple NOTRA meet winner.  Hayley placed in the top twenty at the 2009 and 2010 NOTRA Nationals... not too shabby considering she was one of only three girls! At the age of six, Hayley finished her ASFA Field Championship at the AWC Nationals.  This marked Hayley's retirement from competition.  </p>
<br/>
<br/>
		<p>Hayley took time off in 2010 to be a mom. She was bred to the VERY fast and handsome Nico (WildBlues Turn Me Loose WRChX, SORC). There is no doubt that Nico is in a very elite class of speed packed into a very moderate body. Nico and Hayley produced an amazing litter.  Already winning meets by the age of two, the pups are competitive to a level we never imagined... but we will enjoy the ride!</p>

		<A href = "http://thewhippetarchives.net/testmating.php?dam=33222&sire=43341"><h3>Nico x Hayley</h3></A>
		<br/>
<br/>
		<div class="span11">
		<br/>
<br/>
	</div>
</div>
	</div>
</div>
<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/hayley1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/hayley2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/hayley3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/hayley4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/hayley5.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/hayley6.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/hayley7.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/hayley8.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
