<% content_for :title, "Hoax" %>

<div class="row-center">
	<h2>WildAbout Smoking Loon</h2>
</div>
<div class="row-center">
	<h4>(Ringdove Parker Eaton RCh, ORC, WRCh x WildAbout Spirit of Windwalker CRXIV, OTRMIII, SR)</I><BR>Born November 14th, 2010</h4>
</div>
</div>
<div class="row-center">
	<P>Height: 21" Weight: 33lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/hoax*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=98125"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Hoax</h3>
		<p>Hoax joined Connie Croley and her flyball crew in Michigan.  Not only will he get to play flyball, Hoax will hit the race track in 2013.  Lure coursing might just be in his future too!  This handsome lad is the perfect combination of Parker and Zinfy. Don't let his size fool you, he's awfully mighty!</p>
		<br/>
<br/>
	</div>
</div>

<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/hoax1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/hoax2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/hoax3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/hoax4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/hoax5.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/hoax6.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/hoax7.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
