<% content_for :title, "Kenny P" %>

<div class="row-center">
	<h4><p>Multiple NOTRA meet winner</p>
	 <p>2012 National NOTRA meet winner</p>
	<p> 2013 NOTRA Derby meet winner</p></h4>
</div>
<div class="row-center">
	<h2>WildAbout's La Flama Blanca ORC</h2>
</div>
<div class="row-center">
	<h4>(WildBlues Turn Me Loose WRChX, SORC x WildAbout Windwalker Stargazer WRCh, OTRMIII)</I><BR>Born September 9th, 2010</h4>
</div>
<div class="row-center">
	<P>Height: 21 1/2" Weight: 33lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/kenny*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=101514"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Kenny P</h3>
		<p>Kenny P was staying right here at WildAbout Whippets!  He was Kim and Trent's pick from the day the litter was born.  A rather obnoxious baby pup earned him the name of Kenny P.  Anyone heard of Eastbound and Down?  However, Kenny is all business on the track.  He placed second in the National WRA and NAWRA puppy runs in 2011 and decided that was not good enough... Kenny went on to WIN the 2012 NOTRA National!!!  We are on cloud nine!  2013 will surely be another amazing year for Kenny P and his litermates.</p>

		<p>2013 certainly did NOT disappoint as Kenny won the NOTRA Derby in Telapachi, CA!</p>

		<p>We are looking forward to Kenny's first litter grow:</p>

		<A href = "http://thewhippetarchives.net/testmating.php?dam=68875&sire=101514"><h3>Kenny x Bella</h3></A>
		<div class="span11">
		<br/>
<br/>
	</div>
</div>
	</div>
</div>
<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/kenny1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/kenny2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/kenny3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/kenny4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/kenny5.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/kenny6.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/kenny7.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/kenny8.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/kenny9.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
