<% content_for :title, "Lotus" %>

<div class="row-center">
	<h2>WildAbout's Classic Black</h2>
</div>
<div class="row-center">
	<h4>(WildBlues Turn Me Loose WRChX, SORC x WildAbout Windwalker Stargazer WRCh, OTRMIII)</I><BR>Born September 9th, 2010</h4>
</div>
<div class="row-center">
	<P>Height: 20" Weight: 28lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/lotus*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=101516"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Lotus</h3>
		<p>Lotus joined Tom Fahy and his crew in sunny Florida... what a lucky gal!!  She also sports my long-time favorite name.  No doubt "Classic Black" will be a name to remember.  Lotus is a natural on the oval and surprised us all by going BOS in the 2012 NOTRA Derby. She also picked up her first WRCh point in 2012. This beautiful little pocket rocket is on a roll! Lotus has her own webpage in Whippetville:
				
	
		<A href = "http://web.me.com/whippetville/Site/LOTUS.html"><h3>Whippetville</h3></A>
		<div class="span11">
		<br/>
<br/>
		<br/>
<br/>
	</div>
</div>

<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/lotus1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/lotus2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/lotus3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/lotus4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/lotus5.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/lotus6.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/lotus7.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
