<% content_for :title, "Zandy" %>
<div class="row-center">
	Multiple AKC & ASFA Best In Field
</div>
<div class="row-center">
	<h2>FC WildAbout Lucky Lucille LCM, CRX, OTR</h2>
</div>
<div class="row-center">
	<h4>(Windwalker Chicaro Impala WRCh x Am Ch Do It Wild And Get Lucky FCh, CRX, OTRM, SR)</I><BR>Born July 18th, 2007</h4>
</div>
<div class="row-center">
	<P>Height: 20 1/4" Weight: 29lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/lucy*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=39639"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Lucy</h3>
		<p>Lucy joined Charlene Byrum and the Do It Whippets in Iron Kettle, Ohio... back to the home where Mama Vegas was born. We knew Lucy would be a good runner, what we didn't know is that she would be an amazing lure courser! Lucy has proven her self time and time again on the field earning multiple BIFs and placing nationally in the Top Twenty.... all with limited opportunities to run.</p>
<br/>
<br/>
		<p>Lucy was bred to Bonzer (Am DC Surrey Hill's Galafrey LCM, OTRM, CR, ARX, DPCX):</p>

		<A href = "http://thewhippetarchives.net/details.php?id=153537"><h3>Bonzer x Lucy</h3></A>
		<div class="span11">
		<br/>
<br/>
		
	</div>
</div>
	</div>
</div>
<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/lucy1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/lucy2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/lucy3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/lucy4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/lucy5.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/lucy6.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/lucy7.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
