<% content_for :title, "Maddie Moo" %>

<div class="row-center">
	<h2>WildAbout Windwalkers Lucky Impala Fch, CRXIV, OTRM</h2>
</div>
<div class="row-center">
	<h4>(Windwalker Chicaro Impala WRCh x Am Ch Do It Wild And Get Lucky FCh, CRX, OTRM, SR)</I><BR>Born July 8th, 2007</h4>
</div>
<div class="row-center">
	<P>Height: 19 1/2"</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/moo*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=39639"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Lucy</h3>
		<p>Lucy lives with Charlene Byrum of Do It Whippets. </p>
		<div class="span11">

		<br/>
<br/>
		
	</div>
</div>
	</div>
</div>
<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/moo1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/moo2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/moo3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/moo4.jpg") %></div>
			
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
