<% content_for :title, "Mia" %>

<div class="row-center">
	<h2>Windwalker Meoquanee WRCh</h2>
</div>
<div class="row-center">
	<h4>(Ringdove Chieftain SORC, SRCh x Windwalker Panzarita WRCh, ORC, RCh)</I><BR>Born December 1st, 2010</h4>
</div>
<div class="row-center">
	<P>Height: 20" Weight: 28lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/mia*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=105214"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Mia</h3>
		<p>Mia joined Trent and Kim in Muncie, Indiana. She quickly became part of the WildAbout crew and is certainly a welcomed addition. Mia may be tiny but she is awfully MIGHTY! Mia says move over big dawgs, you're in my way.... her racing motto.  At the age of two Mia finished her WRCh and picked up national points. Now it's on to the oval for this gal.</p>
		<br/>
<br/>
	</div>
</div>

<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/mia1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/mia2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/mia3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/mia4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/mia5.jpg") %></div>
			
		
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
