<% content_for :title, "Ninja" %>

<div class="row-center">
	<h2>WildAbout Black Goose CR</h2>
</div>
<div class="row-center">
	<h4>(Ringdove Parker Eaton RCh, ORC, WRCh x WildAbout Spirit of Windwalker CRXIV, OTRMIII, SR)</I><BR>Born November 14th, 2010</h4>
</div>
</div>
<div class="row-center">
	<P>Height: 20.5" Weight: 33lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/ninja*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=98126"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Ninja</h3>
		<p>Ninja joined Paula Streicher and her crew in Barrington, IL.  Ninja is definitely the black beauty of the group.  Ninja will try her paw at racing in 2013.</p>
		<br/>
<br/>
	</div>
</div>

<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/ninja1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/ninja2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/ninja3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/ninja4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/ninja5.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
