<% content_for :title, "Pistol" %>

<div class="row-center">
	NOTRA & NAWRA meet winning
</div>
<div class="row-center">
	<h2>WildAbout's Locked and Loaded ORC, RCh</h2>
</div>
<div class="row-center">
	<h4>(WildBlues Turn Me Loose WRChX, SORC x WildAbout Windwalker Stargazer WRCh, OTRMIII)</I><BR>Born September 9th, 2010</h4>
</div>
<div class="row-center">
	<P>Height: 22 1/5" Weight: 41lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/pistol*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=101518"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Pistol</h3>
		<p>Pistol joined Michele & Tiven Tegner in Oregon.  We were sad to see him go so far, but we know he is having a blast racing and open field coursing!  Pistol wasted no time getting involved in the race scene by winning the puppy races at the 2011 NAWRA Nationals.  2012 was equally sucessful by easily finishing his ORC and RCh in 2012.  To top it off, Pistol placed second in the 2012 NAWRA National and is currently in the national top ten of both NAWRA and NOTRA!</p>

		<div class="span11">
		<br/>
<br/>
	</div>
</div>
	</div>
</div>
<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/pistol1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/pistol2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/pistol3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/pistol4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/pistol5.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/pistol6.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/pistol7.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
