<% content_for :title, "Prada" %>

<div class="row-center">
	<h2>Do It Just A Fashion Trend</h2>
</div>
<div class="row-center">
	<h4>(DC Surrey Hills Galafrey LCM, OTRM, CR, DPCX x Multi BIF FC WildAbout Lucky Lucille LCM, CRX)</I><BR>Born July 2nd, 2011</h4>
</div>
<div class="row-center">
	<P>Height: 19 1/2" Weight: 26lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/prada*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=153537"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Prada</h3>
		<p>Prada lives in Michigan with Debbie Syria of Free Wynd Whippets.  Prada is no slouch on the field and has picked up most of her AKC and ASFA Field Championships.  Watch out, this little gal is dynamite!!</p>
		<br/>
<br/>
	</div>
</div>

<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/prada1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/prada2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/prada3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/prada4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/prada5.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
