<% content_for :title, "Raj" %>

<div class="row-center">
	<h2>Do It Just A Theory</h2>
</div>
<div class="row-center">
	<h4>(DC Surrey Hills Galafrey LCM, OTRM, CR, DPCX x Multi BIF FC WildAbout Lucky Lucille LCM, CRX)</I><BR>Born July 2nd, 2011</h4>
</div>
<div class="row-center">
	<P>Height: 22" Weight: 40lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/raj*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=153534"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Raj</h3>
		<p>Raj is currently living with Brenda and Andy Hartle in Hebron, Kentucky but is hoping to find a forever home soon.  He has already taken a liking to lure coursing and will try his paw at racing and showing in 2013.</p>
		<br/>
<br/>
	</div>
</div>

<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/raj1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/raj2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/raj3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/raj4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/raj5.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
