<% content_for :title, "Spencer" %>

<div class="row-center">
	<h2>WildAbout Spencer-Eaton RCh</h2>
</div>
<div class="row-center">
	<h4>(Ringdove Parker Eaton RCh, ORC, WRCh x WildAbout Spirit of Windwalker CRXIV, OTRMIII, SR)</I><BR>Born November 14th, 2010</h4>
</div>
</div>
<div class="row-center">
	<P>Height: 22.5" Weight: 46lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/spencer*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=98128"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Spencer</h3>
		<p>Spencer joined Lynne Underwood (and dad Parker) in sunny California.  He wasted no time learning the ropes of a true race dog.  Weekends are spent running free at Baronies in preparation for race meets.  Spencer easily finished his RCh in 2012 and we hope to see him out on the oval in 2013.  As Lynne always says, the world is Spencer's oyster.  Never a dull moment with this fun loving guy!</p>
		<br/>
<br/>
	</div>
</div>

<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/spencer1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/spencer2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/spencer3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/spencer4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/spencer5.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/spencer6.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/spencer7.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
