<% content_for :title, "Yoohoo Bunny!" %>

<div class="row-center">
	<h2>Do It Unbridled Spirit</h2>
</div>
<div class="row-center">
	<h4>(DC Surrey Hills Galafrey LCM, OTRM, CR, DPCX x Multi BIF FC WildAbout Lucky Lucille LCM, CRX)</I><BR>Born July 2nd, 2011</h4>
</div>
<div class="row-center">
	<P>Height: 21 1/2" Weight: 35lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/spirit*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=153535"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Yoohoo Bunny!</h3>
		<p>Yoohoo Bunny! is a proud member of the WildAire Whippets in Greenfield, Indiana. Originally named Spirit, Yoohoo Bunny! better suited this spitfire on the coursing field.  We can't wait to see him run in 2013!</p>
		<br/>
<br/>
	</div>
</div>

<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/spirit1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/spirit2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/spirit3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/spirit4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/spirit5.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
