<% content_for :title, "Steam" %>

<div class="row-center">
	<h2>Do It Just A Summer Snow Angel</h2>
</div>
<div class="row-center">
	<h4>(DC Surrey Hills Galafrey LCM, OTRM, CR, DPCX x Multi BIF FC WildAbout Lucky Lucille LCM, CRX)</I><BR>Born July 2nd, 2011</h4>
</div>
<div class="row-center">
	<P>Height: 20 1/2" Weight: 30lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/steam*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=153536"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Steam</h3>
		<p>Steam made the long journey to Gatineau, Quebec to join Ceylene Robinson and her pack of flyball hounds.</p>
		<br/>
<br/>
	</div>
</div>

<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/steam1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/steam2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/steam3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/steam4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/steam5.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
