		<p><% content_for :title, "Swish" %>

<div class="row-center">
	<h2>WildAbout's Swish On By FCh</h2>
</div>
<div class="row-center">
	<h4>(WildBlues Turn Me Loose WRChX, SORC x WildAbout Windwalker Stargazer WRCh, OTRMIII)</I><BR>Born September 9th, 2010</h4>
</div>
<div class="row-center">
	<P>Height: 21" Weight: 33lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/swish1stack.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=101519"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Swish</h3>
		<p>Swish also found her home in sunny Florida! While her owners are professional handlers, Swish will fulfill the weekend hobby of racing.... and she started off with a BANG by placing 5th and BOS in the 2012 NOTRA Winter Derby.  Swish also finished her ASFA FCh in just four trials.  Can't wait to see what Swish will bring us in 2013!</p>
		<br/>
<br/>
	</div>
</div>

<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/swish1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/swish2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/swish3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/swish4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/swish5.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/swish6.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/swish7.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
