<% content_for :title, "Vitesse" %>

<div class="row-center">
	<h2>WildAbout Windwalker on Speed RPT CR FDCh-G TF-I</h2>
</div>
<div class="row-center">
	<h4>(Windwalker Chicaro Impala WRCh x Am Ch Do It Wild And Get Lucky FCh, CRX, OTRM, SR)</I><BR>Born July 18th, 2007</h4>
</div>
<div class="row-center">
	<P>Height: 19.5" Weight: 27lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/vi*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=20651"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Vitesse</h3>
		<p>Vitesse, better known as "Vi", resides in chilly Ottowa, Canada with M-H Lacasse and her crew of hounds. Vi's passion is for flyball but she has spent time playing disc dog and racing. Vi looks so much like her mama, Vegas!</p>
<br/>
<br/>
		<p>Vi was bred to Reach (Poeta Rail Rhythm):</p>

		<A href = "http://thewhippetarchives.net/testmating.php?dam=20651&sire=73112"><h3>Reach x Vi</h3></A>
		<div class="span11">
		<br/>
<br/>
		
	</div>
</div>
	</div>
</div>
<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/vi1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/vi2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/vi3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/vi4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/vi5.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/vi6.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/vi7.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
