<% content_for :title, "Zandy" %>
<div class="row-center">
	Multiple NOTRA meet winning
</div>
<div class="row-center">
	<h2>FC WildAbout Windwalker WRCh, ORC, FCh, SR</h2>
</div>
<div class="row-center">
	<h4>(Windwalker Zantanon WRCh, ORC, RCh x Am Ch Do It Wild And Get Lucky FCh, CRX, OTRM, SR)</I><BR>Born December 10th, 2005</h4>
</div>
<div class="row-center">
	<P>Height: 21 1/2", 37lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/zandy*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=33224"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Zandy</h3>
		<p>Zandy resides with Melody Jones of Windage Whippets. There is nothing this boy can't do! He easily picked up his WRCh and ORC titles, even earning multiple NOTRA meet wins. However, Zandy's favorite activity is chasing jack rabbits in Wyoming. He is quick and efficient... even snagged a jack his first time out! At the age of six, Zandy took up lure coursing and finished both his AKC and ASFA Field Championships before his seventh birthday. Gotta show the young ones how it's done! </p>
<br/>
<br/>
		<p>Zandy sired his first litter out of Derby (Windwalker Panzarita WRCh, ORC, RCh):</p>

		<A href = "http://thewhippetarchives.net/testmating.php?dam=33221&sire=48808"><h3>Zandy x Derby</h3></A>
		<div class="span11">
		<br/>
<br/>
		
	</div>
</div>
	</div>
</div>
<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/zandy1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zandy2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zandy3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zandy4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zandy5.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zandy6.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zandy7.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
