<% content_for :title, "Zazu" %>

<div class="row-center">
	<h2>WildAbout Windwalker Evolutions FCh</h2>
</div>
<div class="row-center">
	<h4>(Windwalker Zantanon WRCh, ORC, RCh x Am Ch Do It Wild And Get Lucky FCh, CRX, OTRM, SR)</I><BR>Born December 10th, 2012</h4>
</div>
<div class="row-center">
	<P>Height: 20 1/4", 30lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/zazu*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=33223"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Zazu</h3>
		<p>No doube about it, Zazu lived her life with a lot of excitement. Zaz joined Shelli Harper and her family as just a pup.  Within the first year Zazu suffered a devastating injury.  We thought she may never run again... but not according to Zazu!  She raced occassionally and finished her ASFA Field Championship easily at the 2008 AWC Nationals. Zazu's zest for life was unmatched.  Unfortunately Zazu was cursed with a cancer she could not fight.  At the age of six, Zazu left us for the Rainbow Bridge. </p>

		<br/>
<br/>
		
	</div>
</div>
	</div>
</div>
<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/zazu1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zazu2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zazu3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zazu4.jpg") %></div>
			
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
