<% content_for :title, "Zest" %>

<div class="row-center">
	<h2>FC WildAbout Windwalker Zest FCh, CR, OTR</h2>
</div>
<div class="row-center">
	<h4>(Windwalker Zantanon WRCh, ORC, RCh x Am Ch Do It Wild And Get Lucky FCh, CRX, OTRM, SR)</I><BR>Born December 10th, 2012</h4>
</div>
<div class="row-center">
	<P>Height: 19 3/4", 30lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/zest*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=33228"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Zest</h3>
		<p>Zest fits her name perfectly! She is full of life and energy. Zest has joined Ed, Sonja and two little girls in Ohio. While Zest spends most of her time keeping her two little girls entertained, she races and lure courses on occassion. She may be little but she's awfully mighty on the field. Zest finished her ASFA Field Championship in just four trials! </p>

		<br/>
<br/>
		
	</div>
</div>
	</div>
</div>
<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/zest1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zest2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zest3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zest4.jpg") %></div>
			
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
