<% content_for :title, "Zinfy" %>

<div class="row-center">
	<h2>WildAbout Spirit of Windwalker CRXIV, OTRMIII, SR</h2>
</div>
<div class="row-center">
	<h4>(Windwalker Zantanon WRCh, ORC, RCh x Am Ch Do It Wild And Get Lucky FCh, CRX, OTRM, SR)</I><BR>Born December 10th, 2012</h4>
</div>
<div class="row-center">
	<P>Height: 19 3/4" Weight: 29lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/zinfy*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=33221"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Zinfandel</h3>
		<p>Better known as Zinfy or Zin, this black beauty has earned the hearts of many.  Zinfy has traveled with most of the midwest race crew and surely calls Ranch Rees her second home.  Zinfy started out in the show ring taking home a few reserves before we knew racing was her calling.  She picked up most of her WRCh points by the age of three but a torn gracilis hindered her ability to earn a WRCh.  She now has 14 1/2 points <sigh> but we know she's a champion at heart. Zinfy has earned two name plaques on the Nitro Award given out every WRA National for the highest number of CRX points.... may she keep the tradition going for few more years! </p>
<br/>
<br/>
		<p>It took several years to find the perfect sire for Zinfy's first litter.  Lynne Underwood graciously shared her boy, Parker (Ringdove Parker-Eaton RCh, ORC, WRCh).  We couldn't be happier with the pups.  A wonderful blend of pedigrees that double up on the amazing Eddy:</p>

		<A href = "http://thewhippetarchives.net/testmating.php?dam=33221&sire=48808"><h3>Parker x Zinfy</h3></A>
		<br/>
<br/>
		<p>Zinfy will be bred one more time.  Again, picking a sire was not easy.  We decided to go with the incredibly talented Panther (Notorious Poeta Pantera WRChX SORC-II CD RE MX MXJ ADC AgI AgIJ AV): </p>

		<A href = "http://thewhippetarchives.net/testmating.php?dam=33221&sire=6278"><h3>Panther x Zinfy</h3></A>
<br/>
<br/>
		<p>At the age of seven, Zinfy hasn't even begun to think about retirement.  She still runs four programs in WRA and NOTRA, lure courses and has picked up the sport of dock diving.  Zinfy gives 100% in everything she tries.  Zinfy is pretty sure she is still two years old and don't try to tell her otherwise!
		<div class="span11">
		<br/>
<br/>
	</div>
</div>
	</div>
</div>
<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/zinfy1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zinfy2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zinfy3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zinfy4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zinfy5.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zinfy6.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zinfy7.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
