<% content_for :title, "Zircon" %>

<div class="row-center">
	<h2>WildAbout Windwalker Zircon WRCh, ORC</h2>
</div>
<div class="row-center">
	<h4>(Windwalker Zantanon WRCh, ORC, RCh x Am Ch Do It Wild And Get Lucky FCh, CRX, OTRM, SR)</I><BR>Born December 10th, 2012</h4>
</div>
<div class="row-center">
	<P>Height: 22", 34lbs</P>
</div>
<div class="row-center">
	<%= image_tag("Whippets/zircon*.jpg") %>
</div>
<br>
<div class="row-center">
	<div class="span11">
		<A href = "http://thewhippetarchives.net/details.php?id=33226"><h3>Pictorial Pedigree & Stats</h3></A>
	</div>
</div>
<br/>
<br/>
<div class="row-center">
	<div class="span11">
		<h3>Zircon</h3>
		<p>Zirc is co-owned with John Ehrmann and is living with whippet buddies, Daisy & Tiger Lily, in Brown County Indiana. His favorite pastime is chasing "tree bunnies" and other critters in the yard, however he most definitely discovered a passion for racing. At 18 months old, Zirc realized he could keep up with the fast dogs and slowly figured out the mental side of racing. We think he's rather amazing considering he is literally a couch potato most of the time. He easily picked up his WRCh and found a love for the oval... he finished with a bang at the age of five.  While we were extremely excited to see Zirc do so well athletically, his greatest strength is his temperament. He is just plain sweet. We hope to see "kids" from him some day. </p>

		<br/>
<br/>
		
	</div>
</div>
	</div>
</div>
<div class="row-center">
	<div class="span1">&nbsp;</div>
	<div class="span9">
	<div id="myCarousel" class="carousel slide">
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item"><%= image_tag("Whippets/zirc1.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zirc2.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zirc3.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zirc4.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zirc5.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zirc6.jpg") %></div>
			<div class="item"><%= image_tag("Whippets/zirc7.jpg") %></div>
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<div class="span1">&nbsp;</div>
</div>
</div>
