<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="container nav-collapse">
        <ul class="nav">
          <li class="dropdown" id="home">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#home">
              Home
              <b class="caret"></b>
            </a>					             	
            <ul class="dropdown-menu">
              <li><%= link_to "About", page_path("about")  %></li>
              <li><%= link_to "Family And Friends", page_path("family")  %></li>
              <li><%= link_to "Photos", page_path("phots")  %></li>
            </ul>
          </li>
          <li class="dropdown" id="competing">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#competing">
              Currently Competing
              <b class="caret"></b>
            </a>                        
            <ul class="dropdown-menu">
              <li><%= link_to "Kenny P", page_path("kenny")  %></li>
              <li><%= link_to "Fig", page_path("fig")  %></li>
              <li><%= link_to "Capona", page_path("capona")  %></li>
              <li><%= link_to "Bullet", page_path("bullet")  %></li>
              <li><%= link_to "Pistol", page_path("pistol")  %></li>
              <li><%= link_to "Spencer", page_path("spencer")  %></li>
              <li><%= link_to "Swish", page_path("swish")  %></li>
              <li><%= link_to "Mason", page_path("mason")  %></li>
              <li><%= link_to "Zinfandel", page_path("zinfandel")  %></li>
              <li><%= link_to "Hayley", page_path("hayley")  %></li>
              <li><%= link_to "Zircon", page_path("zircon")  %></li>
              <li><%= link_to "Zandy", page_path("zandy")  %></li>
              <li><%= link_to "Zest", page_path("zest")  %></li>
              <li><%= link_to "Vitesse", page_path("vitesse")  %></li>
              <li><%= link_to "Maddie", page_path("maddie")  %></li>
              <li><%= link_to "Lucy", page_path("lucy")  %></li>
            </ul>
          </li>
           <li class="dropdown" id="rising">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#rising">
              Rising Stars
              <b class="caret"></b>
            </a>                        
            <ul class="dropdown-menu">
              <li><%= link_to "Mia", page_path("mia")  %></li>
              <li><%= link_to "Nova", page_path("nova")  %></li>
              <li><%= link_to "Lotus", page_path("lotus")  %></li>
              <li><%= link_to "Dasha", page_path("dasha")  %></li>
              <li><%= link_to "Ninja", page_path("ninja")  %></li>
              <li><%= link_to "Zoey", page_path("zoey")  %></li>
              <li><%= link_to "Hoax", page_path("hoax")  %></li>
            </ul>
          </li>
           <li class="dropdown" id="retired">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#retired">
              Retired
              <b class="caret"></b>
            </a>                        
            <ul class="dropdown-menu">
              <li><%= link_to "Vegas", page_path("vegas")  %></li>
              <li><%= link_to "Tiger Lily", page_path("tiger_lily")  %></li>
              <li><%= link_to "Zepplin", page_path("zepplin")  %></li>
              <li><%= link_to "Birdie", page_path("birdie")  %></li>
              <li><%= link_to "Sid", page_path("sid")  %></li>
              <li class="divider" style="padding:0px"></li>
              <li style="padding-left:4px">In Memory</li>
              <li class="divider" style="padding:0px"></li>
              <li><%= link_to "Genie", page_path("genie")  %></li>
              <li><%= link_to "Scotch", page_path("scotch")  %></li>
              <li><%= link_to "Lil Syd", page_path("lil_syd")  %></li>
              <li><%= link_to "Lyla", page_path("lyla")  %></li>
            </ul>
          </li>
          <li><%= link_to "Litters", "/path3"  %></li>
          <li><%= link_to "Puppies", "/path3"  %></li>
          <li><%= link_to "Great Links", "/path3"  %></li>
        </ul>
      </div>
    </div>
  </div>
</div>