 <div class="navbar">
  <div class="navbar-inner">
    <div class="container">


      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="container nav-collapse">
        <ul class="nav" role="navigation">
          <li class="dropdown">
            <a  id="home" class="dropdown-toggle" data-toggle="dropdown" href="#">Home<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="home">
              <li><%= link_to "About", page_path("about")  %></li>
              <li><%= link_to "Family And Friends", page_path("family_friends")  %></li>
              <li><%= link_to "Photos", page_path("photos")  %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a id="competing" class="dropdown-toggle" data-toggle="dropdown" href="#">Currently Competing<b class="caret"></b></a>
            <ul class="dropdown-menu"  role="menu" aria-labelledby="competing">
              <li><%= link_to "Kenny P", page_path("dogs/kenny")  %></li>
              <li><%= link_to "Fig", page_path("dogs/fig")  %></li>
              <li><%= link_to "Capone", page_path("dogs/capone")  %></li>
              <li><%= link_to "Bullet", page_path("dogs/bullet")  %></li>
              <li><%= link_to "Pistol", page_path("dogs/pistol")  %></li>
              <li><%= link_to "Spencer", page_path("dogs/spencer")  %></li>
              <li><%= link_to "Swish", page_path("dogs/swish")  %></li>
              <li><%= link_to "Nova", page_path("dogs/nova")  %></li>
              <li><%= link_to "Ninja", page_path("dogs/ninja")  %></li>
              <li><%= link_to "Lotus", page_path("dogs/lotus")  %></li>
              <li><%= link_to "Hoax", page_path("dogs/hoax")  %></li>
              <li><%= link_to "Mason", page_path("dogs/mason")  %></li>
              <li><%= link_to "Zinfandel", page_path("dogs/zinfandel")  %></li>
              <li><%= link_to "Mia", page_path("dogs/mia")  %></li>
              <li><%= link_to "Zircon", page_path("dogs/zircon")  %></li>
              <li><%= link_to "Zandy", page_path("dogs/zandy")  %></li>
              <li><%= link_to "Vitesse", page_path("dogs/vitesse")  %></li>
              <li><%= link_to "Maddie", page_path("dogs/maddie")  %></li>
              <li><%= link_to "Lucy", page_path("dogs/lucy")  %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a id="rising" class="dropdown-toggle" data-toggle="dropdown" href="#">Rising Stars<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="rising">
              <li><%= link_to "Dasha", page_path("dogs/dasha")  %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a id="retired" class="dropdown-toggle" data-toggle="dropdown" href="#">Retired<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="retired">
              <li><%= link_to "Hayley", page_path("dogs/hayley")  %></li>
              <li><%= link_to "Zest", page_path("dogs/zest")  %></li>
              <li><%= link_to "Vegas", page_path("dogs/vegas")  %></li>
              <li><%= link_to "Tiger Lily", page_path("dogs/tiger_lily")  %></li>
              <li><%= link_to "Zeppelin", page_path("dogs/zeppelin")  %></li>
              <li><%= link_to "Birdie", page_path("dogs/birdie")  %></li>
              <li><%= link_to "Syd", page_path("dogs/syd")  %></li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">In Memory</a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Genie", page_path("dogs/genie")  %></li>
                  <li><%= link_to "Scotch", page_path("dogs/scotch")  %></li>
                  <li><%= link_to "Lil Syd", page_path("dogs/lil_syd")  %></li>
                  <li><%= link_to "Lyla", page_path("dogs/lyla")  %></li>
                  <li><%= link_to "Zazu", page_path("dogs/zazu")  %></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a id="litters" class="dropdown-toggle" data-toggle="dropdown" href="#">Litters<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="litters">
              <li><%= link_to "Future Plans", page_path("litters/future")  %></li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Bred By Wildabout Whippets!</a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Parker X Zinfandel 2010</a>
                  </li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Nico x Haley 2010</a>
                  </li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Gateway x Vegas 2007</a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Soho", page_path("dogs/soho")  %></li>
                      <li><%= link_to "Vitesse", page_path("dogs/vitesse")  %></li>
                      <li><%= link_to "Maddie", page_path("dogs/maddie")  %></li>
                      <li><%= link_to "Lucy", page_path("dogs/lucy")  %></li>
                      <li><%= link_to "Beefie", page_path("dogs/beefie")  %></li>
                      <li><%= link_to "Tuli", page_path("dogs/tuli")  %></li>
                      <li><%= link_to "Stella", page_path("dogs/stella")  %></li>
                      <li><%= link_to "Lyla", page_path("dogs/lyla")  %></li>
                      <li><%= link_to "Checker", page_path("dogs/checker")  %></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Zeke x Vegas 2005 </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Zinfandel", page_path("dogs/zinfandel")  %></li>
                      <li><%= link_to "Zazu", page_path("dogs/zazu")  %></li>
                      <li><%= link_to "Ezrin", page_path("dogs/ezrin")  %></li>
                      <li><%= link_to "Bravo", page_path("dogs/bravo")  %></li>
                      <li><%= link_to "Hayley", page_path("dogs/hayley")  %></li>
                      <li><%= link_to "Zest", page_path("dogs/zest")  %></li>
                      <li><%= link_to "Zandy", page_path("dogs/zandy")  %></li>
                      <li><%= link_to "Zircon", page_path("dogs/zircon")  %></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Syd x Tiger Lily 2004</a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Lil Syd", page_path("dogs/lil_syd")  %></li>
                      <li><%= link_to "Hemi", page_path("dogs/hemi")  %></li>
                      <li><%= link_to "Wonder", page_path("dogs/wonder")  %></li>
                      <li><%= link_to "Mason", page_path("dogs/mason")  %></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Mouff x Genie 2003</a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Zeppelin", page_path("dogs/zeppelin")  %></li>
                      <li><%= link_to "Syd", page_path("dogs/syd")  %></li>
                      <li><%= link_to "Rinna", page_path("dogs/rinna")  %></li>
                      <li><%= link_to "Rev", page_path("dogs/rev")  %></li>
                      <li><%= link_to "Birdie", page_path("dogs/birdie")  %></li>
                      <li><%= link_to "Lark", page_path("dogs/lark")  %></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Willie x Genie 2002</a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Tiger Lily", page_path("dogs/tiger_lily")  %></li>
                      <li><%= link_to "Daisy", page_path("dogs/daisy")  %></li>
                      <li><%= link_to "Stryder &amp; Casino", page_path("dogs/stryder_casino")  %></li>
                      <li><%= link_to "Flirt", page_path("dogs/flirt")  %></li>
                      <li><%= link_to "Beemer", page_path("dogs/beemer")  %></li>
                      <li><%= link_to "Buckley", page_path("dogs/buckley")  %></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Family Litters</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Reach x Vi 2011</a>
                  </li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Bonzer x Lucy 2011</a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Steam", page_path("dogs/steam")  %></li>
                      <li><%= link_to "Caesar", page_path("dogs/caesar")  %></li>
                      <li><%= link_to "Spirit", page_path("dogs/spirit")  %></li>
                      <li><%= link_to "Prada", page_path("dogs/prada")  %></li>
                      <li><%= link_to "Lexi", page_path("dogs/lexi")  %></li>
                      <li><%= link_to "Raj", page_path("dogs/raj")  %></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">L.P. x Tuli 2009</a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Finnegan", page_path("dogs/finnegan")  %></li>
                      <li><%= link_to "Pipper", page_path("dogs/pipper")  %></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Huey x Tuli 2010</a>
                  </li>
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Zandy x Derby 2008</a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Lobo", page_path("dogs/lobo")  %></li>
                      <li><%= link_to "Chico", page_path("dogs/chico")  %></li>
                      <li><%= link_to "Carly", page_path("dogs/carly")  %></li>
                      <li><%= link_to "Torres", page_path("dogs/torres")  %></li>
                      <li><%= link_to "Fay", page_path("dogs/fay")  %></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a id="puppies" class="dropdown-toggle" data-toggle="dropdown" href="#">Puppies<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="puppies">
              <li><%= link_to "In the Whelping Box", page_path("puppies/whelping")  %></li>
              <li><%= link_to "Puppy Questionnaire", page_path("WhippetQuest.doc")  %></li>
              <li><%= link_to "Puppy Protocol", page_path("puppies/puppy_protocol")  %></li>
            </ul>
          </li>
          <li><%= link_to "Great Links", page_path("links")  %></li>
        </ul>
      </div>
    </div>
  </div>
</div>