
	<div>
		<%= image_tag("group4.jpg") %>
	</div>
	<div>
		<%= image_tag("group5.jpg") %>
	</div>
	<div>
		<%= image_tag("group6.jpg") %>
	</div>
	<div>
		<%= image_tag("group7.jpg") %>
	</div>
	<div>
		<%= image_tag("group8.jpg") %>
	</div>
	<div>
		<%= image_tag("group9.jpg") %>
	</div>
	<div>
		<%= image_tag("group10.jpg") %>
	</div>
	<div>
		<%= image_tag("group11.jpg") %>
	</div>
	<div>
		<%= image_tag("group12.jpg") %>
	</div>
	<div>
		<%= image_tag("group13.jpg") %>
	</div>
	<div>
		<%= image_tag("group14.jpg") %>
	</div>
	<div>
		<%= image_tag("group15.jpg") %>
	</div>

	<div>
		<%= image_tag("group16.jpg") %>
	</div>

	<div>
		<%= image_tag("group17.jpg") %>
	</div>

	<div>
		<%= image_tag("group18.jpg") %>
	</div>

	<div>
		<%= image_tag("group19.jpg") %>
	</div>

	<div>
		<%= image_tag("group20.jpg") %>
	</div>

	<div>
		<%= image_tag("group21.jpg") %>
	</div>

	<div>
		<%= image_tag("group24.jpg") %>
	</div>

	<div>
		<%= image_tag("group25.jpg") %>
	</div>

	<div>
		<%= image_tag("group26.jpg") %>
	</div>